body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100VH;
    flex-direction: column;
    background-color: #dae7fa;
    font-family: 'Courier New', Courier, monospace;
}

.title{
    width: 430px;
    margin-bottom: 10px;
}

.title>h1,.title>h2{
    margin:0;
    padding: 0;
    
}

h1{
    height: 70px;
    font-weight: bold;
    font-size: 70px;
}

h2{
    height: 15px;
    font-weight: 100;
    font-size: 20px;
}

.container{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 430px;
}

.screen{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    height: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: end;
}

.screen>p{
    font-size: 60px;
    margin: 0;
    text-align: end;
    padding-right: 5px;
}

span{
    padding-right: 5px;
    font-size: 20px;
    height: 20px;
}

/* numbers */
.container>.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    gap: 10px;
}

.numbers>button{
    width: 90px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    font-size: 15px;
    background-color: #dae7fa;
}

.numbers>button:hover{
    background-color: #dae7fad5;
    cursor: pointer;
}

.numbers>button:active{
    background-color: #dae7fa8a;
}

#clear, #sign, #percent, #divide,
#multiply, #subtract, #add{
    background-color: #81b3ff;
    
}

#equal{
    background-color: #0066ff;
    color:#dae7fa
}

#clear:hover, #sign:hover, #percent:hover, #divide:hover,
#multiply:hover, #subtract:hover, #add:hover{
    background-color: #81b3ffd5;
}

#clear:active, #sign:active, #percent:active, #divide:active,
#multiply:active, #subtract:active, #add:active{
    background-color: #81b3ff8a;
}

#equal:hover{
    background-color: #0066ffd5;
    color:#dae7fad5
}

#equal:active{
    background-color: #0066ff8a;
    color:#dae7fa8a
}

#zero{
    flex: 2;
}




